.footer {
  color: white;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #081e40;
  text-align: center;
}

.header {
  text-align: center;
  color: white;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: blue;
}

.hero {
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../src/assets/Toronto-skyline.jpg");
  background-size: cover;
  padding-top: 10%;
  padding-bottom: 25%;
  color: white;
}

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret 1s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}

.projects .bodybackground {
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(88,88,88,1) 100%);
}

.form-control {
  width: 50%;
}

.form1 {
  justify-content: center;
}

.about {
  font-size: 24px;
  text-align: left;
  color: black;
  padding-bottom: 5%;
}

.aboutTitle {
  text-align: center;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: darkslateblue;
}

.aboutTitle img {
  display: inline-block;
  max-width: 15%;
  max-height: auto;
}

.cardList {
  display: flex;
  flex-grow: 5;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  text-align: center;
  gap: 30px;
}

.cardList Card {

  height: 20%;
  width: 20%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.projects {
  max-height: 5%;
  max-width: auto;
}

.project1 {
  text-align: center;
}

.contact {
  text-align: center;
  font-size: 24px;
}

.cardList .img card {
  max-height: 5%;
  max-width: auto;
}

.aboutDesc {
  text-align: center;
  width: 40%;
  color: white;
}

.card-horizontal img {
  border: 1px;
  height: 20%;
  width: 20%;
}

.aboutPicture {
  height: 12%;
  width: 12%;
  float: left;
}

.about p {
  width: 45%;
}

.skills {
  text-align: center;
}